@charset "utf-8";
/* NAME : NUR ANIS SYAMIMI BINTI ALI
   DATE : 10/06/2021 */


.sidenavigation{
	height: 100%;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	background: url(background.jpg);
}

.index{
	background: #999DA0;
	display: block;
	padding: 30px;
	margin: 20px 10px;
	margin-right: 0px;
	text-decoration: none;
	font-family: fantasy;
	color: black;
	text-align: center;
	font-size: 25px;
}

.self{
	background: #795C32;
	display: block;
	padding: 30px;
	margin: 20px 10px;
	margin-right: 0px;
	text-decoration: none;
	font-family: fantasy;
	color: black;
	text-align: center;
	font-size: 25px;
}

.contact{
	background: #813F0B;
	display: block;
	padding: 30px;
	margin: 20px 10px;
	margin-right: 0px;
	text-decoration: none;
	font-family: fantasy;
	color: black;
	text-align: center;
	font-size: 25px;
}

.content{
	margin-left: 200px;
	padding-left: 50px;
	font-family: monospace, "Lucida Console", monaco;
	font-size: 18px;
}

a:link{
	color: black;
}

a:visited{
	color: #311432;
}

a:hover{
	color: #008ECC;
}

a:active{
	color: #5E1914;
}

header{
	background: black;
	text-align: center;
	color: #A9BA9D;
	font-family: cursive;
	font-size: 28px;
}

.mainIndex{
	background: #999DA0;
	text-align: center;
}

#intro{
	text-decoration: underline;
}
.mainSelf{
	background: #795C32;
}

ul{
	background: #613613;
	padding: 15px;
	width: 50%;
	margin-left: 25%;
}

ul li{
	background: #795C32;
	margin: 15px;
}

ol{
	background: #795C32;
	padding: 25px;
	margin-left: 35px;
}

#a li{
	background: #613613;
	padding: 5px;
	margin-left: 50px;
	list-style-type: lower-roman;
}

#b li{
	background: #613613;
	padding: 5px;
	margin-left: 50px;
	list-style-type: lower-alpha;
}

#c li{
	background: #613613;
	padding: 5px;
	margin-left: 50px;
}

h1,h2,p{
	text-align: center;
}

.mainContact{
	background: #813F0B;
	text-align: center;
}

label{
	display: inline-block;
	width: 150px;
	padding-top: 10px;
	height: 20px;
}

legend{
	background-color: #997950;
	font-style: italic;
}

input{
	display: inline-block;
	width: 300px;
	height: 25px;
	border: 4px solid #492000;
	background-color: #D6CFC7;
	resize: none;
}

textarea{
	border: 4px solid #492000;
	background-color: #D6CFC7;
}

input[type=submit], input[type=reset]{
	width: 100px;
	height: 45px;
	background-color: #D6CFC7;
}

table{
	width: 50%;
	margin-left: 255px;
}